[% IF result; INCLUDE translate/view.tt; END %]
<form name="translate" method="POST" action="translate">
  <input type="text" name="lol" value="" title="enter text to translate">
  <input type="submit" value="Translate">
</form>
